use flake

# Customize the name of connection
export SNOWFLAKE_DEFAULT_CONNECTION_NAME="default"
export IMAGE_TAG="nix-ttyd-container"
# Provide REGISTRY_URL here
# like so:
# export REGISTRY_URL="<value from SHOW IMAGE REPOSITORIES>"

source_env_if_exists .envrc.local
